<div class="loading">
    <mat-spinner class="mx-auto" *ngIf="!levels || isLoading"></mat-spinner>
</div>
<div class="container">
    <div class="row w-100 d-flex justify-content-center" *ngIf="levels && levels.length > 0">
        <mat-card *ngFor="let level of levels; let i = index">
            <mat-card-header class="d-flex justify-content-between">
                <mat-card-title>
                    <i class="material-icons" *ngFor="let star of level.stars">
                        <span *ngIf="star">star</span>
                        <span *ngIf="!star">star_border</span>
                    </i>
                </mat-card-title>
                <h2 routerLink="/chapter/{{chapterId}}/level/{{level.id}}">{{ level.number }}</h2>
                <button mat-mini-fab color="light" (click)="isShowSettings(i)">
                    <i class="material-icons">settings</i>
                </button>
                <ul class="settings-box" #settings>
                    <li (click)="editLevel(level)">Редактирай</li>
                    <li (click)="removeLevel(level)">Изтрии</li>
                </ul>
            </mat-card-header>
            <img src="https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>

<h2 *ngIf="levels && levels.length == 0" class="text-danger text-center">Няма нива</h2>
<div class="text-center" *ngIf="auth.user">
    <span *ngIf="auth.user.roles">
        <button mat-raised-button color="primary" *ngIf="auth.user.roles.admin" (click)="addLevel()">Добави ниво</button>
    </span>
</div>