img {
    width: 100%;
}

mat-card {
    margin: 1em;
    cursor: pointer;
    flex-basis: 320px;
}

button {
    outline: none;
}

material-icons span {
    display: flex;
}

mat-card-header {
    position: relative;
}

.settings-box {
    display: flex;
    color: #428BCA;
    animation: show-in-settings-box 0.2s forwards;
    list-style-type: none;
}

.settings-box li:hover {
    color: #428BCA;
}

@keyframes show-in-settings-box {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.loading mat-spinner {
    width: 120px;
    height: 120px;
    position: absolute;
    left: calc(50% - 60px);
    top: calc(50% - 60px);
    transform: translate(-50%, -50%);
    z-index: 100;
}

mat-icon {
    font-size: 2.2em;
    margin-right: 1em;
    color: #428BCA;
    cursor: pointer;
}