<div *ngIf="isSubmit" class="fixed-loader">
    <mat-spinner></mat-spinner>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-3 p-4 bg-light mt-5 shadow rounded">
        <form [formGroup]="loginForm" class="p-4" (ngSubmit)="onSubmit()">
    
            <mat-form-field class="w-100">
                <input matInput color="" type="email" placeholder="Your Email" formControlName="email">
            </mat-form-field>
            
            <mat-form-field class="w-100">
                <input type="password" matInput placeholder="Your Password" formControlName="password">
            </mat-form-field>
            <div class="btns">
                <button mat-raised-button color="primary" class="w-100" [disabled]="!loginForm.valid">login</button>
                <button type="button" mat-raised-button class="w-100 my-4" color="warn" (click)="authService.signInWithGoogle()">
                    Log in with Google
                </button>
                <button type="button" mat-raised-button class="w-100" color="primary" (click)="authService.signInWithGoogle()">
                    Log in with Facebook
                </button>
            </div>
        </form>
    </div>
    <div class="col-4"></div>
</div>