.upload input {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
}

.submited {
    opacity: 0;
    animation: show-in 0.2s forwards;
}

.toggleBtn {
    position: absolute;
    right: 60px;
    bottom: 60px;
    z-index: 100;
}

.bonusLevel {
    width: 70%;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
}

.errors p {
    opacity: 0;
    animation: show-in 0.2s forwards;
}

@keyframes show-in {
    from {
        opacity: 0;
        transform: scale(0.7);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}