<div *ngIf="isSubmit" class="fixed-loader">
    <mat-spinner></mat-spinner>
</div>

<div class="row">
    <div class="col-4"></div>
    <div class="col-3 p-4 bg-light mt-5 shadow rounded">
        <form [formGroup]="registerForm" class="p-4" (ngSubmit)="onSubmit()">
    
            <mat-form-field class="w-100">
                <input matInput type="text" placeholder="Your Name" formControlName="name">
            </mat-form-field>
        
            <mat-form-field class="w-100">
                <input matInput type="email" placeholder="Your Email" formControlName="email">
            </mat-form-field>
            
            <mat-form-field class="w-100">
                <input type="password" matInput placeholder="Your Password" formControlName="password">
            </mat-form-field>
        
            <mat-form-field class="w-100">
                <input type="password" matInput placeholder="Repeat Password" formControlName="repeatPassword">
            </mat-form-field>
            <button mat-raised-button class="w-100" color="primary" [disabled]="!registerForm.valid">Register</button>
        </form>
    </div>
    <div class="col-4"></div>
</div>