<div class="close-btn">
    <button mat-fab color="warn" (click)="clear()">
        <i class="material-icons">close</i>
    </button>
</div>
<h2 class="text-center text-primary">{{ data.team }}</h2>
<form [formGroup]="teamForm">
    <mat-form-field class="w-100">
        <mat-label>Нов отбор</mat-label>
        <input matInput #message maxlength="20" formControlName="title" placeholder="Създаване на но отбор">
        <mat-hint align="end">{{ message.value.length }} / 20 Синвола</mat-hint>
    </mat-form-field>
</form>
<div class="text-center">
    <button mat-button color="primary" (click)="add()" [disabled]="!teamForm.valid">
        <i class="material-icons">add</i>
        Създай отбора
    </button>
</div>