<div class="close-btn">
    <button mat-fab color="warn" (click)="clear()">
        <i class="material-icons">close</i>
    </button>
</div>
<h2 class="text-center text-primary">{{ data.team }}</h2>
<form [formGroup]="teamForm">
    <mat-form-field class="w-100">
        <mat-label>Име на отбора</mat-label>
        <input matInput placeholder="Отбор" formControlName="title">
    </mat-form-field>
</form>
<div class="text-center">
    <button mat-button color="primary" (click)="add()" [disabled]="!teamForm.valid">
        <i class="material-icons">add</i>
        Създай отбора
    </button>
</div>