<div class="container">
    <h2 class="text-capitalize text-center text-light my-4">chapters ({{ chapters.length }})</h2>
    <mat-spinner class="mx-auto" *ngIf="!chapters || isLoading"></mat-spinner>
    <div *ngIf="chapters" class="row w-100 d-flex justify-content-center">
        <mat-card *ngFor="let chapter of chapters as chapter">
            <mat-card-header routerLink="/chapter/{{ chapter.id }}">
                <mat-card-title>
                    <span>{{ chapter.name }}</span>
                </mat-card-title>
                <mat-card-subtitle>{{ chapter.subtitle }}</mat-card-subtitle>
            </mat-card-header>
            <img *ngIf="chapter.photos?.length > 0" src="{{chapter.photos['0'].downloadURL}}">
            <mat-card-actions class="d-flex justify-content-between">
                <button routerLink="/chapter/{{ chapter.id }}" mat-fab matTooltip="Играй">
                    <i class="material-icons">play_arrow</i>
                </button>
                <button mat-fab color="warn" (click)="deleteChapter(chapter.id)" matTooltip="Изтрии главата">
                    <i class="material-icons">delete</i>
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>