<div class="container">
    <h2 class="text-capitalize text-center text-light my-4">chapters</h2>
    <div class="row w-100 d-flex justify-content-center">
        <mat-card *ngFor="let chapter of chapters | async" routerLink="/chapter/{{ chapter.levels.id }}">
            <mat-card-header>
                <mat-card-title>1 Chapter</mat-card-title>
                <mat-card-subtitle>Flowers</mat-card-subtitle>
            </mat-card-header>
            <img src="https://images.unsplash.com/photo-1487530811176-3780de880c2d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80">
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>