<mat-toolbar class="bg-dark">
    <mat-toolbar-row class="text-light">
        <div class="navbar-left">
            <span routerLink="/">Война на думи</span>
            <span *ngIf="auth.user as user">
                <span *ngIf="auth.user.roles">
                    <span class="mx-5" routerLink="/chapter/add" *ngIf="user.roles.admin">Добави глава</span>
                </span>
            </span>
            <span *ngIf="auth.user as user">
                <span *ngIf="auth.user">
                    <span class="mx-5" (click)="allTeams()">Отбори</span>
                </span>
            </span>
        </div>
        <div class="navbar-right" *ngIf="auth.user as user; else notAuth">
            <button mat-raised-button><span>Hello, </span><span *ngIf="user.name">{{ user.name }}</span></button>
            <button mat-button (click)="logout()">Logout</button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<ng-template #notAuth>
    <div class="navbar-right">
        <button routerLink="account/register" mat-raised-button>Регистрация</button>
        <button routerLink="account/login" mat-button>Вход</button>
    </div>
</ng-template>