<div class="add-team">
    <button mat-fab color="primary" (click)="addTeam()">
        <i class="material-icons">add</i>
    </button>
</div>
<h2 class="text-center text-primary">{{ data.teams }}</h2>
<mat-spinner *ngIf="!teams"></mat-spinner>
<mat-list>
    <mat-list-item *ngFor="let team of teams; let i = index">
      <h3 matLine (click)="detailsTeam(i)">{{ team.title }}</h3>
      <p matLine class="d-flex justify-content-between align-content-center">
        <span class="col-3 d-flex" matTooltip="Участници">
          <i class="material-icons">person</i> {{ team.participants.length }}
        </span>
        <span class="col-3 d-flex" matTooltip="Създател">
          <i class="material-icons">person</i>{{ team.creator.name }}
        </span>
        <span class="col-3 d-flex" matTooltip="Създадено на">
          <i class="material-icons">date_range</i> {{ team.created | date }}
        </span>
        <span class="col-3 d-flex">
          <button *ngIf="!team.addedUser" class="shadow-none" mat-button color="primary" matTooltip="Присъедини се в отбора" (click)="addToTeam(i)">
            <i class="material-icons">check</i>
          </button>
          <button *ngIf="team.addedUser" class="shadow-none" mat-button color="warn" matTooltip="Излез от отбора" (click)="removeToTeam(i)">
            <i class="material-icons">close</i>
          </button>
          <button *ngIf="team.isMyTeam" class="shadow-none" mat-mini-fab color="warn" matTooltip="Изтрии отбора" (click)="removeTeam(i)">
            <i class="material-icons">close</i>
          </button>
        </span>
      </p>
    </mat-list-item>
</mat-list>